\bigskip 
\noindent \textbf {Name}\qquad \underline {\hspace {0.5\textwidth }}
\par 
\bigskip 
\noindent 
\textbf {The following exam consists of three problems. Answers without work shown will not be given any credit. Good luck!}
\par 
\bigskip 
\bigskip 
\bigskip 
\noindent \begin {tabular}{l@{\hspace {2em}}l@{\hspace {3em}}l}
 \textbf {Problem 1} & \textbf {(30\space Points)} & \underline {\hspace {10em}}\\\\\\
 \textbf {Problem 2} & \textbf {(35\space Points)} & \underline {\hspace {10em}}\\\\\\
 \textbf {Problem 3} & \textbf {(35\space Points)} & \underline {\hspace {10em}}\\\\\\
\\ \\
 \textbf {Total} & \textbf {(100\space Points)} & \underline {\hspace {10em}}\\\\\\
\end {tabular}\relax 
